{% extends "organdonate/base.html" %}
{%  load static %}
{% block content%}
<!DOCTYPE html>
<html>
 <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type=text/css> 
    .p1{ 
    color: white; 
    background-color: rgb(238, 130, 130); 
    width: 800px; 
    } 
    .h1 
    { 
    color: white; 
    background-color: 009900; 
    width: 800px; 
    } 
    .h2 
    { 
    color: white; 
    background-color: 009900; 
    width: 800px; 
    } 
 </style>  
</head>

<body > 
    <div style="padding-left: 40;">
        
</div>
<div style="padding-left: 40;">
    <h1 style="color: rgb(90, 15, 109);">About Some Information that Receiver should know</h1>
</div>
<div style="padding-left: 40;">
    <br>
    
      <h3 style="color:rgb(78, 15, 15)" style="padding-left: 40;"> The Organ Transplant Process</h3>
<br>
      <p class="p1" style="padding-left: 40;font-size: 25;">Organ transplantation is the process of surgically transferring a donated organ to someone diagnosed with organ failure. Many diseases can lead to organ failure, including heart disease, diabetes, hepatitis, cystic fibrosis, and cirrhosis. Injury and birth defects may also cause organ failure.</p> 
      <br>
      </div>
    <div class="accordion" id="accordionExample" style="padding-left: 40;">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="font-size: 25;">
                ‌	Steps for Getting on the Organ Transplant Waiting List
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="background-color: rgb(230, 84, 59); color: white ;">
            <div class="card-body"  style="font-size: 17;">
                <ol type="I"> 
                    <li><b>Get a Referral</b></li>
                    <p>You must get a referral from your physician in order to be evaluated by a transplant program as a potential transplant candidate.</p>
                    <li><b>Gather Information</b></li>
                    <p>There's a lot to learn about the transplantation process, everything from where a patient can be listed, to financial considerations, to recovery. This free brochure, "What Every Patient Needs to Know," from UNOS hrsa exit disclaimer provides an overview of the process.</p>
                    <li><b>Select a Transplant Center</b></li>
                    <p>While you may be referred to a transplant center or program, you may also want to make sure that it meets your needs. Consider its location, compatibility with your insurance program, financial arrangements and support group availability. The OPTN has a list of member transplant centers.</p>
                    <li><b>Schedule an Evaluation Appointment</b></li>
                    <p>Contact the transplant hospital. Schedule an appointment for an evaluation to find out if you are a good candidate for transplant. During the evaluation, ask questions to learn as much as you can about that hospital and its transplant team.
                    </p>
                    <li><b>Get Listed</b></li>
                    <p>If the transplant team members determine that you are a suitable transplant candidate, they will add you to the OPTN national waiting list of all people waiting for a transplant. The transplant team will contact you in writing about 10 days after you are listed to let you know the date and time that your name was added to the national list. Any questions you have about your status on the waiting list should be directed to your transplant team at your transplant center.</p>
                </ol>
            </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"  style="font-size: 25;">
                Planning Your Finances
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample" style="background-color: rgb(230, 84, 59); color: white ;">
            <div class="card-body"  style="font-size: 17;">
            <h4>Understand the Costs Involved in Transplantation</h4>
            <p>Transplantation involves costs before, during, and after the actual transplant surgery. These costs are the responsibility of the recipient, not the donor. Costs include:</p>
            <ul>
                <li>Laboratory tests, organ procurement, transplant surgeons and other operating room personnel</li>
                <li>In-hospital stays, transportation to and from the transplant hospital for surgery and for checkups</li>
                <li>Rehabilitation, including physical or occupational therapy</li>
                <li>Medications, including immunosuppressive or anti-rejection drugs which are very costly</li>
            </ul>
            <h4>Putting Your Financial Plan Together</h4>
            <p>Planning for transplant surgery requires financial planning. Health insurance may cover some or most of the costs, but insurance policies vary widely. Call your insurance company or your employer's benefits office to get detailed information about how your insurance company handles the costs related to your specific situation. </p>
            <p>In general, you are responsible for any costs not covered by insurance. You need to think about what resources you will use to pay the costs not covered by insurance. These resources may include savings, sale of property, or other sources.</p>
            <p>Fortunately, you do not need to face these decisions alone. Members of the transplant team, such as the transplant center's social worker and financial coordinator (see below), can help you develop a financial plan and may be able to put you in touch with organizations that provide financial assistance to transplant recipients.</p>    
            <h4>Find Out if Medicare or Medicaid Might Help You</h4>
            <p>Medicare is a federal program, and Medicaid is operated by individual states. Both are health insurance programs that can help eligible people pay for the costs of transplantation.

                Medicare is available for people age 65 or older, people who have certain disabilities, or people who have end-stage renal disease (ESRD). The Medicare Part A insurance plan is available free to those who qualify and covers inpatient hospital care and some nursing home care. People who wish to participate in the Medicare Part B insurance plan pay premiums; Part B covers outpatient care, doctor bills, some home health care, and prescription medicines including, in some cases, immunosuppressive (antirejection) drugs.
                
                Medicare certifies transplant programs throughout the country, and you must use a Medicare-approved transplant facility in order to receive full Medicare benefits. To find out more about Medicare-approved transplant centers or Medicare benefits for transplantation, visit the Medicare website or contact your local Social Security office.
                
                Medicaid is an insurance program for low-income persons and is funded jointly by the federal government and the states. States determine who is eligible and what benefits and services are covered.
                
                Some states' Medicaid plans cover only transplant procedures performed within the state (unless there is no transplant center for that organ in the state). Some states' Medicaid programs do not cover transplantation.</p>
        </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse"  style="font-size: 25;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How Organs Are Matched
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample" style="background-color: rgb(230, 84, 59); color: white ;">
            <div class="card-body"  style="font-size: 17;">
                The Organ Procurement and Transplantation Network (OPTN) has policies that regulate how donor organs are matched and allocated to patients on the waiting list. There are some common factors in how organs are matched, such as blood type and how severe the patient's illness is. However, depending on the organ, some factors become more important than others, so there is a different policy for each organ.</div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"  style="font-size: 25;" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    After Your Transplant
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample" style="background-color: rgb(230, 84, 59); color: white ;">
              <div class="card-body"  style="font-size: 17;">
                <h4>Be a Partner in Your Follow-up Care:</h4>
                <h4>Rejection and Anti-Rejection Medications:</h4>
                <h4>Know Your Pharmacist:</h4>
                <h4>Stay Healthy:</h4>
                <h4>Eat Well:</h4>
                <h4>Do Exercises</h4>
            </div>
        </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"  style="font-size: 25;" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Contacting Your Donor Family
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample" style="background-color: rgb(230, 84, 59); color: white ;">
              <div class="card-body"  style="font-size: 17;" >
              <p>Sometimes organ recipients want to thank the family of their donor. Sometimes donor families want to check on the health and well-being of the person who received an organ from their loved one. The possibility of this human contact lifts the process of donation and transplantation above the mechanics of medicine and surgery and makes it a true sharing of life, gratitude, and love.

                Transplant centers and OPOs are required by law to protect the confidentiality of donors and recipients. However, they can arrange for contact between the families when both sides agree. The process usually begins with a letter from the recipient to the donor family, sent in care of the transplant center. Different centers have different procedures, but general guidelines for the first letter to the donor family are outlined in the fact sheet,</p>
              </div>
      </div>
  </div>
  <br>
  <br>
  <div style="padding-left: 40;">
    <h1>Want to receive Organs?</h1>
    <a href="{%  url 'registration' %}"><button type="button" class="btn btn-success">Register yourself as a Receiver</button>
        </a>
        <br>
        <br>
        <br>
  </div>
      {% endblock content %}

</body>   
</html>